<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <a href="https://sfconservancy.org/supporter/"><img src="https://sfconservancy.org/img/supporter-badge.png" width="194" height="90" alt="Become a Conservancy Supporter!" style="border: 0"/></a>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Resources -->
        <h5 class="text-uppercase">Resources</h5>

        <ul class="list-unstyled">
          <li>
            <a href="https://turbovote.org/" target="_blank">Turbovote</a>
          </li>
          <li>
            <a href="https://docs.google.com/document/d/1VnORrzUBV7tcBIqSHx_6iONGILtYYAE7ZXuKmoLf83o/edit?usp=sharing" target="_blank">50-State Voting Info</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    {{ site.year }} <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">CC BY-SA 4.0</a> {{ site.title }}
    <br/><a href="{{ site.github_repo }}">Find this site on GitHub</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
