<head>
    {% if page.title %}
    <title>{{ page.title }} | {{ site.title }}</title>
    {% else %}
    <title>{{ site.title }}</title>
    {% endif %}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

{% include layout/seo-meta.html %}

    <!-- favicon -->
    <link rel="shortcut icon" href="{{ site.favicon_path }}" type="image/x-icon" />
    <link rel="apple-touch-icon" href="{{ site.favicon_path }}" type="image/x-icon">

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;500&display=swap">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css"/>

    <script type="text/javascript" src="/js/application.js"></script>
    <script type="text/javascript" src="/js/bootstrap.js"></script>
    <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/js/map.js"></script>

    <script type="text/javascript">
        // This can be the same key as in queryGoogle.php but it's not recommended, as this api key is less secure
        var MAPS_API_KEY = "Maps-API-Key-Here";

        //Add google maps script
        $.ajax({
            url: "https://maps.googleapis.com/maps/api/js?key=" + MAPS_API_KEY,
            dataType: 'script',
            sync: true
        });
    </script>
</head>
